html{
    height: 100%;
}
body{
    background: rgb(210,210,210);
    background: linear-gradient(45deg, rgba(210,210,210,1) 0%, rgba(221,221,221,1) 35%, rgba(238,238,238,1) 68%, rgba(255,255,255,1) 100%);
    height: 100%;
}
header {
	background: rgb(2,0,36);
    background: linear-gradient(135deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(51,153,255,1) 68%, rgba(0,212,255,1) 100%);
	color: white;
	padding-left: 1em;
	padding-top: 4em;
	padding-bottom: 4em;
}
.logo{
    box-shadow: 0 0 8px 8px rgba(255,255,255,0.9);
    border-radius: 50%;
    margin-top: -0.25em;
    margin-left: 1.25em;
    margin-right: 1.25em;
    width: 100px;
    height: 100px;
    float: left;
}

footer{
    position: fixed;
    bottom: 0px;
    text-align: center;
    width: 100%;
}
.container{
    padding-left: 1em;
}

span.badge{
    font-size: 100%;
    font-weight: lighter;
    margin: 0.25em !important;
}

.busqueda > *{
    margin-top: 0.5em;
}

.resultado{
    min-height: 150px;
}

.resultado textarea{
    min-height: 100%;
    min-width: 100%;
}

.botonSubmit{
    width: 30%;
    margin: auto;
}
.flex{
    display: flex;
}

.preloader {
  position: absolute;
  top:-webkit-calc(50% - 35px);
  top:-moz-calc(50% - 35px);
  top:calc(50% - 35px);
  left:-webkit-calc(50% - 35px);
  left:-moz-calc(50% - 35px);
  left:calc(50% - 35px);
  z-index: 100;
  display: none;
  width: 70px;
  height: 70px;
  border: 10px solid #ccc;
  border-top: 10px solid rgba(2,0,36,1);
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.disabled{
  cursor: not-allowed;
}